    body {
        background-color: darkgray;
        color: white;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    
    h1 {
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
    
    .box {
        text-align: center;
        margin-top: 100px;
        padding: 35px;
        width: 400px;
        height: 400px;
        border: 1px solid gray;
        border-radius: 15%;
        background-color: black;
    }
    
    .iConBox {
        display: flex;
        justify-content: center;
    }
    
    .headline {
        font-size: 40px;
        float: left;
        margin-top: 0;
    }
    
    .plus {
        color: #90ee90;
    }
    
    .minus {
        color: red;
    }
    
    .neutral {
        color: white;
    }
    
    .livePrice {
        font-size: 80px;
        margin: 0;
        margin-top: 25px;
        float: right;
    }
    
    svg {
        width: 400px;
        height: 200px;
    }
    /* 
          ______
 |\      |       \
 | \     |        |
 |  \    |______ /
 |   \   |       \
 |    \  |        \
 |     \ |         \
 |      \|          \ 
 */